.server--bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 346px;
	height: 212px;
	background: #000;
	padding: 10px;
	border: 1px solid #0f0;
	box-shadow: 0 0 10px #0f0;
}

.cassette-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 226px;
	height: 193px;
}

.cassette {
	display: flex;
	width: 226px;
	height: 60px;
	background: #111;
	border: 1px solid #0f0;
}

.cassette__detail {
	display: flex;
	justify-content: space-between;
	width: 60px;
	height: 60px;
	background: #000;
	margin-left: 30px;
	border-left: 1px solid #0f0;
	border-right: 1px solid #0f0;
}

.cassette__detail-line {
	width: 2px;
	height: 60px;
	background: #050;
}

.fake-btns-container {
	width: 86px;
	height: 190px;
	background: #000;
	border: 1px solid #0f0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.fake-btn {
	width: 19px;
	height: 19px;
}

.green {
	border-radius: 20%;
	border: 1px solid #050;
	background: #050;
	transition: 0.5s;
}

.red {
	border-radius: 20%;
	border: 1px solid #500;
	background: #500;
	transition: 0.5s;
}

.darkgreen {
	border-radius: 20%;
	border: 1px solid #030;
	background: #030;
	transition: 0.5s;
}

.fake-btn.green.set {
	border: 1px solid #0f0;
	background: #0f0;
	box-shadow: 0 0 5px #0f0;
}

.fake-btn.red.set {
	transition-delay: 0.6s;
	border: 1px solid #f00;
	background: #f00;
	box-shadow: 0 0 5px #f00;
}

.fake-btn.darkgreen.set {
	transition-delay: 1.2s;
	border: 1px solid #0f0;
	background: #0f0;
	box-shadow: 0 0 5px #0f0;
}
