.client__key-section {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 366px;
	height: 65px;
	background: #000000;
	color: #0f0;
}

.client__description {
	width: 118px;
	height: 38px;
	background: #000;
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 8px;
	font-size: medium;
	border: 1px solid #0f0;
}

.client__value {
	padding-top: 8px;
	display: flex;
	justify-content: center;
	text-align: center;
	resize: none;
	width: 100px;
	height: 38px;
	color: #0f0;
	background: #000;
	font-size: large;
	border: 1px solid #0f0;
}

.client__get-btn:enabled {
	height: 38px;
	width: 86px;
	font-size: medium;
	cursor: pointer;
	background: #000;
	color: #0f0;
	border: 1px solid #0f0;
	transition: 0.3s;
}

.client__get-btn:hover:enabled {
	background: #0f0;
	color: #000;
}

.client__get-btn:disabled {
	height: 38px;
	width: 86px;
	background: #111;
	font-size: medium;
	border: 1px solid #050;
	cursor: not-allowed;
	opacity: 0.6;
	color: #050;
	transition: 0.3s;
}

.check-icon {
	opacity: 0;
	transform: rotate(0) scale(0.4);
	color: #0f0;
	height: 22px;
	width: 22px;
	transition: 0.5s linear;
	margin-right: 8px;
}

.check-icon.set {
	opacity: 1;
	transform: rotate(360deg) scale(1);
}
