@import '../../assets/fonts/SourceCodePro.css';

.client-head {
	font-family: 'SourceCodePro', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 486px;
	height: 455px;
	background: #111;
	border: 1px solid #0f0;
	border-radius: 5px;
	box-shadow: 0 0 10px #0f0;
}

.client__content {
	margin-top: 33px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 440px;
	height: 380px;
	background: #000;
	padding: 22px;
	border: 1px solid #0f0;
	border-radius: 5px;
}

.client__content--keys {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 310px;
}

.client-head-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 23px;
	width: 60px;
	margin-top: 20px;
	margin-left: 280px;
}

.main-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 23px;
	background: #333;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #0f0;
}

.power-off-icon {
	margin: 2px;
	transition: 0.5s;
	color: #0f0;
}

.power-off-icon.set {
	color: #0f0;
	text-shadow: 0 0 5px #0f0;
}

.main-btn-indicator {
	width: 10px;
	height: 10px;
	background: #050;
	border: 1px solid #0f0;
	border-radius: 50%;
	transition: 0.5s;
}

.main-btn-indicator.set {
	transition-delay: 0.5s;
	border: 1px solid #0f0;
	background: #0f0;
	box-shadow: 0 0 5px #0f0;
}

.client-messenger-container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	height: 160px;
	padding: 15px;
	width: 487px;
	background-color: #000;
	border: 2px solid #0f0;
	box-shadow: 0 0 10px #0f0;
	margin-bottom: 20px;
}

.client__message-section-container {
	margin: 5px;
	width: 420px;
	margin-left: 15px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.client__message {
	font-family: 'SourceCodePro', sans-serif;
	outline: none;
	text-align: center;
	resize: none;
	cursor: pointer;
	font-size: medium;
	width: 310px;
	height: 44px;
	background: #000;
	color: #0f0;
	border: 1px solid #0f0;
}

.client__message::placeholder {
	color: rgba(0, 255, 0, 0.5);
}

.client__messenger-btn:enabled,
.client__messenger-btn:disabled {
	font-family: 'SourceCodePro', sans-serif;
	width: 98px;
	height: 44px;
	margin-left: 10px;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
	background: #000;
	color: #0f0;
	font-size: 14px;
	border: 1px solid #0f0;
	transition: 0.3s;
}

.client__messenger-btn:hover:enabled {
	background: #0f0;
	color: #000;
}

.client__messenger-btn:disabled {
	cursor: not-allowed;
	background: #111;
	color: #050;
	border: 1px solid #050;
}

.client__icon-lock,
.client__icon-unlock {
	height: 23px;
	width: 23px;
	color: #0f0;
	margin-left: 10px;
	transition: 0.5s;
}

.client__icon-lock.active,
.client__icon-unlock.active {
	transform: rotateY(180deg);
}
