@import '../assets/fonts/SourceCodePro.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0d0d0d;
	color: #0f0;
	font-family: 'SourceCodePro', monospace;
}

.App {
	display: flex;
	justify-content: center;
	background-color: #0d0d0d;
	min-height: 100vh;
}

.global-container {
	display: flex;
}

.channel-box {
	display: flex;
	flex-direction: column;
	width: 260px;
	margin-top: 190px;
	border-left: 1px dashed #0f0;
	border-right: 1px dashed #0f0;
}

.server-label {
	font-family: 'SourceCodePro', monospace;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #0f0;
	text-shadow: 0 0 5px #0f0;
}

.server-container,
.client-container {
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
}

.middle-container {
	margin-top: 150px;
	width: 260px;
	height: 800px;
}

.first-key,
.second-key {
	width: 40px;
	height: 40px;
	color: #0f0;
	filter: drop-shadow(0 0 2px #0f0);
}

.first-key {
	transform: rotate(20deg);
}

.second-key {
	transform: rotate(200deg);
}

.keys-icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 260px;
	margin-top: 150px;
	height: 130px;
	border-bottom: dashed 3px #0f0;
	border-top: dashed 3px #0f0;
}
