@import '../../assets//fonts/SourceCodePro.css';

.modal {
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	inset: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	transition: 0.6s;
	pointer-events: none;
}

.modal__content {
	font-family: 'SourceCodePro', monospace;
	box-sizing: content-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	opacity: 0;
	width: 490px;
	height: 100px;
	background: #111;
	border: 1px solid #0f0;
	box-shadow: 0 0 10px #0f0;
	border-radius: 10px;
	transform: scale(0.5);
	padding-bottom: 20px;
	transition: 0.6s;
}

.modal.active {
	pointer-events: all;
	opacity: 1;
}

.modal__content.active {
	opacity: 1;
	font-size: large;
	transform: scale(1);
}

.close-icon-container {
	height: 30px;
	padding-left: 425px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
}

.close-icon {
	height: 30px;
	width: 30px;
	transition: 0.4s;
	color: #f00;
}

.close-icon:hover {
	cursor: pointer;
	transform: scale(1.15);
	color: #f33;
}

.warning-text {
	color: #0f0;
	text-shadow: 0 0 2px #0f0;
}
