.pad--small {
	width: 440px;
	height: 39px;
	background: #111;
	border-left: 1px solid #0f0;
	border-right: 1px solid #0f0;
}

.pad--small-btns-container {
	margin-top: 9px;
	margin-left: 22px;
	width: 38px;
	height: 16px;
	display: flex;
	justify-content: space-between;
}

.pad--small-btn {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #000;
	border: 1px solid #0f0;
	box-shadow: 0 0 2px #0f0;
}

.pad--large {
	width: 466px;
	height: 36px;
	background: #000;
	border-left: 1px solid #0f0;
	border-right: 1px solid #0f0;
}

.up-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 65px;
	width: 486px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.454);
}

.up-section__light-detail {
	width: 62px;
	height: 19px;
	background: #c5c5c5;
	margin-left: 25px;
}

.up-section__dark-detail {
	width: 112px;
	height: 12px;
	background: #2f2c2c;
	margin-right: 61px;
}

.down-section {
	display: flex;
	justify-content: space-between;
	height: 78px;
	width: 486px;
}

.bottom-box {
	display: flex;
	flex-direction: column;
	width: 486px;
	height: 143px;
	background: #000;
	border: 1px solid #0f0;
	box-shadow: 0 0 10px #0f0;
}

.speaker {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 106px;
	height: 78px;
	border-right: 1px solid #0f0;
}

.holes-row {
	margin-bottom: 4px;
	display: flex;
	justify-content: space-between;
	width: 79px;
	height: 4px;
}

.hole {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #0f0;
	box-shadow: 0 0 2px #0f0;
}

.big-hole {
	margin-top: 8px;
	width: 39px;
	height: 5px;
	background: #000;
	border: 1px solid #0f0;
}

.cd-section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 240px;
	height: 78px;
	border-left: 1px solid #0f0;
}

.cd-rom {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 149px;
	height: 25px;
	margin-bottom: 15px;
	margin-right: 8px;
	background: #111;
	border: 1px solid #0f0;
}

.cd {
	width: 135px;
	height: 14px;
	background: #000;
	border: 1px solid #0f0;
	transition: 2s;
}

.cd.set {
	background: #0f0;
	border: 1px solid #0f0;
	box-shadow: 0 0 5px #0f0;
}

.light-indicator {
	width: 8px;
	height: 8px;
	background: #050;
	border: 1px solid #0f0;
	border-radius: 50%;
	margin-bottom: 15px;
	margin-right: 30px;
	transition: 0.8s;
}

.light-indicator.set {
	background: #0f0;
	box-shadow: 0 0 5px #0f0;
	border: 1px solid #0f0;
}
