@import '../../assets/fonts/SourceCodePro.css';

.server-body {
	font-family: 'SourceCodePro', monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 486px;
	height: 673px;
	background: #111;
	border: 1px solid #0f0;
	box-shadow: 0 0 10px #0f0;
}

.server__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 420px;
	height: 585px;
	background: #000;
	padding: 22px;
	border: 1px solid #0f0;
}

.server__content--keys {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 310px;
}

.server-messenger-container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	height: 160px;
	padding: 15px;
	width: 487px;
	background-color: #000;
	border: 1px solid #0f0;
	box-shadow: 0 0 10px #0f0;
	margin-bottom: 20px;
}

.server__message-section-container {
	margin: 5px;
	width: 420px;
	margin-left: 15px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.server__message {
	outline: none;
	text-align: center;
	font-family: 'SourceCodePro', monospace;
	resize: none;
	width: 310px;
	height: 44px;
	background: #000;
	color: #0f0;
	border: 1px solid #0f0;
	cursor: pointer;
	font-size: 15px;
}

.server__message::placeholder {
	color: rgba(0, 255, 0, 0.5);
}

.server__messenger-btn:enabled,
.server__messenger-btn:disabled {
	color: #0f0;
	background-color: #000;
	border: 1px solid #0f0;
	font-size: 14px;
	font-family: 'SourceCodePro', monospace;
	padding-left: 2px;
	padding-right: 2px;
	width: 98px;
	height: 44px;
	margin-left: 10px;
	cursor: pointer;
	transition: 0.3s;
}

.server__messenger-btn:hover:enabled {
	background: #0f0;
	color: #000;
}

.server__messenger-btn:disabled {
	color: #050;
	cursor: not-allowed;
	background-color: #111;
	border: 1px solid #050;
}

.server__icon-lock,
.server__icon-unlock {
	height: 23px;
	width: 23px;
	color: #0f0;
	margin-left: 10px;
	transition: 0.5s;
}

.server__icon-lock.active,
.server__icon-unlock.active {
	transform: rotateY(180deg);
}
