.server__key-section {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 400px;
	height: 65px;
	background: #000;
	color: #0f0;
}

.bulb {
	display: flex;
	align-items: center;
	width: 15px;
	height: 15px;
	background-color: #050;
	border-radius: 35%;
	margin-right: 6px;
	border: 1px solid #0f0;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.bulb.set {
	background-color: #0f0;
	box-shadow: 0 0 5px #0f0;
}

.inner-bulb {
	visibility: hidden;
	width: 5px;
	height: 5px;
	background-color: #0f0;
	border-radius: 35%;
	box-shadow: 0 0 2px #0f0;
	transition: 0.5s;
}

.inner-bulb.set {
	visibility: visible;
}

.server__description {
	width: 150px;
	height: 38px;
	background: #000;
	border: 1px solid #0f0;
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 8px;
	font-size: medium;
	color: #0f0;
}

.server__value {
	display: flex;
	justify-content: center;
	text-align: center;
	resize: none;
	width: 120px;
	height: 38px;
	color: #0f0;
	font-size: large;
	padding-top: 8px;
	background: #000;
	border: 1px solid #0f0;
}

.server__get-btn:enabled {
	background-color: #000;
	border: 1px solid #0f0;
	width: 80px;
	height: 38px;
	font-size: medium;
	cursor: pointer;
	transition: 0.3s;
	color: #0f0;
}

.server__get-btn:hover:enabled {
	background-color: #0f0;
	color: #000;
}

.server__get-btn:disabled {
	color: #050;
	background-color: #111;
	border: 1px solid #050;
	opacity: 0.6;
	width: 80px;
	height: 38px;
	font-size: medium;
	cursor: not-allowed;
	transition: 0.3s;
}
